<div class="page-header">
    <h1>MANAGE DOWNTIME </h1>
</div>
<div data-ng-app="downtime">

<div class="row">
    <div class="col-xs-12">

    <div class="form-group col-xs-6 col-xs-offset-3" id="equipList">
      <label for="selectequ">Select Equipment</label>
       <select class="form-control" id="selectequ" data-ng-model="equipment" 
          >
        <option data-ng-repeat="eq in allEquipments" >{{eq}}</option>
      </select>
        
        {{equipment}}
    </div>
        
        <div class="form-group col-xs-6 col-sm-6 col-md-6 col-lg-6 col-xs-offset-3" id="Type">
         <label for="searchType">Search by Type:</label>
         <select class="form-control" id="searchType" data-ng-model="type">
            <option value="" disabled="" selected="" style="display: none">Select type of maintenance</option>
            <option>Corrective Maintenance</option>
            <option>Preventive Maintenance</option>
            <option>Standby</option>
         </select>
      </div>
        
        {{type}}
        
    </div>
</div>
    
<div class="row">
    
    <div class="form-group col-xs-6 col-xs-offset-3">
      <label for="date">Start of Downtime</label>
        <input type="datetime-local" id="startTime" class="form-control" placeholder="Day, Month, Year" data-ng-model="startDT"  data-ng-change = "dateTimeStart()"/>
    </div>
        {{startDT}}
    <div class="form-group col-xs-6 col-xs-offset-3">
      <label for="date">End of Downtime</label>
        <input type="datetime-local" class="form-control" placeholder="Day, Month, Year" data-ng-model="endDT" data-ng-change="dateTimeEnd()"/>
        {{endDT}}
    </div>
        
    
    
    </div>
    
<div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6" id="central">
            <a class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="manageDowntime()">MANAGE   <span class="glyphicon glyphicon-tasks"></span></a>
        </div>
    </div>
    
</div>


    
    
