<div class="page-header">
   <h3>DASHBOARD</h3>
</div>    
    <br>

    
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-ng-controller="myCtrl">
        
                <div class="col-xs-12">

                Equipment Downtime (Hour)
                <a class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="writeUserData(equipment, system)" data-ng-click="initializeExport()" title="Export graph (JPEG) to computer"><span class="glyphicon glyphicon-export"></span></a>
            
                <a class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="writeUserData(equipment, system)" data-ng-click="initializePrint()" title="Print graph to PDF"><span class="glyphicon glyphicon-print"></span></a>
            </div>
            
            <div class="col-xs-12 searchtable" id="chartStyle">
                <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" chart-options="chartOptions" id="myBtn" data-toggle="modal" data-target="#viewGraph" data-backdrop="false" chart-click="onClick"></canvas>
            </div>
        </div>
        
        
        
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-ng-controller="myCtrlPercent">
            
            <div class="col-xs-12">
            System Downtime Percentage(%)
                <a class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="writeUserData(equipment, system)" data-ng-click="initializeExport()" title="Export graph (JPEG) to computer"><span class="glyphicon glyphicon-export"></span></a>
            
                <a class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="writeUserData(equipment, system)" data-ng-click="initializePrint()" title="Print graph to PDF"><span class="glyphicon glyphicon-print"></span></a>
            </div>
                
            <div class="col-xs-12 searchtable" id="chartStyle">
                <canvas class="chart chart-bar" chart-data="dataPercent" chart-labels="labelsPercent" chart-series="series" chart-options="chartOptionsPercent" id="myBtn" data-toggle="modal" data-target="#viewGraph" data-backdrop="false" chart-click="onClick"></canvas>
            </div>
            
        </div>
    
    </div>

    <div class="row" style="margin-left: 5px, margin-right: 5px">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-ng-controller="myCtrl">
        
                <div class="col-xs-12">

                Equipment Downtime (Hour)
                <a class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="writeUserData(equipment, system)" data-ng-click="initializeExport()" title="Export graph (JPEG) to computer"><span class="glyphicon glyphicon-export"></span></a>
            
                <a class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="writeUserData(equipment, system)" data-ng-click="initializePrint()" title="Print graph to PDF"><span class="glyphicon glyphicon-print"></span></a>
            </div>
            
            <div class="col-xs-12 searchtable" id="chartStyle">
                <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" chart-options="chartOptions" id="myBtn" data-toggle="modal" data-target="#viewGraph" data-backdrop="false" chart-click="onClick"></canvas>
            </div>
        </div>
       
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" data-ng-controller="myCtrlPercent">
            
            <div class="col-xs-12">

            Equipment Downtime Percentage (%) 
            
            <a class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="writeUserData(equipment, system)" data-ng-click="initializeExport()" title="Export graph (JPEG) to computer"><span class="glyphicon glyphicon-export"></span></a>
            
            <a class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="writeUserData(equipment, system)" data-ng-click="initializePrint()" title="Print graph to PDF"><span class="glyphicon glyphicon-print"></span></a>
                            
            </div>
            
            <div class="col-xs-12 searchtable" id="chartStyle">
                <canvas class="chart chart-bar" chart-data="dataPercent" chart-labels="labelsPercent" chart-series="series" chart-options="chartOptionsPercent" id="myBtn" data-toggle="modal" data-target="#viewGraph" data-backdrop="false" chart-click="onClick"></canvas>
            </div>        
        </div>
        
        
    </div>
<hr/>

<form >
<div class="row" style="margin-left: 5px, margin-right: 5px">
    <span class="col-xs-12 border">
    <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4 date" id="equipList">
         <label for="date">Selection of Year</label>
         <input type="text" id="datetimepicker11" class="form-control" placeholder="Year" data-ng-model="yearFilter"/>
      </div>
        {{yearFilter}}
    
    <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4 date" id="equipList">
         <label for="date">Selection of Month</label>
         <input type="text" class="form-control" id="datetimepicker10" placeholder="Month, Year" data-ng-model="monthFilter"/>
      </div>
        
        {{monthFilter}}
    
    <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4 date" id="equipList">
         <label for="date">Select Day Downtime</label>
         <input type="text" id="datetimepicker2" class="form-control" placeholder="Day, Month, Year" data-ng-model="dateFilter"/>
      </div>
        
        {{dateFilter}}
        
        <br>
        
        <input type="reset" class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="resetGraph()"/>
    </span>

</div></form>

<div class="modal fade" id="viewGraph">
   <div class="modal-dialog modal-lg">
     <div class="modal-content">
       <div class="modal-header">
         <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
         <h4 class="modal-title">Downtime Description</h4>
       </div>
       <div class="modal-body">
         ...
           
       </div>
       <div class="modal-footer">
           <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
       </div>
     </div>
   </div>
  </div>
  

