<div class="page-header">
   <h1>SEARCH DOWNTIME</h1>
</div>


<form>
<div class="row">
    <span class="col-xs-12 border">
    <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4 date" id="equipList">
         <label for="date">Selection of Year</label>
         <input type="text" id="datetimepicker11" class="form-control" placeholder="Year" data-ng-model="yearFilter"/>
      </div>
        {{yearFilter}}
    
    <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4 date" id="equipList">
         <label for="date">Selection of Month</label>
         <input type="text" class="form-control" id="datetimepicker10" placeholder="Month, Year" data-ng-model="monthFilter"/>
      </div>
        
        {{monthFilter}}
    
    <div class="form-group col-xs-4 col-sm-4 col-md-4 col-lg-4 date" id="equipList">
         <label for="date">Select Day Downtime</label>
         <input type="text" id="datetimepicker2" class="form-control" placeholder="Day, Month, Year" data-ng-model="dateFilter"/>
      </div>
        
        {{dateFilter}}
        
        <br>
        
        <input type="reset" class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="resetGraph()"/>
    </span>

</div></form>

<hr/>
    
    <br><h5><b>SYSTEM</b></h5><br>
    
    <div class="row">
                    
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 searchtable" data-ng-controller="myCtrl">
            
            <div id="chartStyle">
                <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" chart-options="chartOptions"></canvas>
            </div>
            <br>
            
                <a class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="writeUserData(equipment, system)" data-ng-click="initializeExport()"><span class="glyphicon glyphicon-export"></span></a>
            
                <a class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="writeUserData(equipment, system)" data-ng-click="initializePrint()"><span class="glyphicon glyphicon-print"></span></a>
            
            
        </div>
        
        
        
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 searchtable" data-ng-controller="myCtrlPercent">
            
            <div id="chartStyle">
                <canvas class="chart chart-bar" chart-data="dataPercent" chart-labels="labelsPercent" chart-series="series" chart-options="chartOptionsPercent"></canvas>
            </div>
            <br>
            
            <a class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="writeUserData(equipment, system)" data-ng-click="initializeExport()"><span class="glyphicon glyphicon-export"></span></a>
            
            <a class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="writeUserData(equipment, system)" data-ng-click="initializePrint()"><span class="glyphicon glyphicon-print"></span></a>
            
        </div>
    
    </div>
    
    <br>
    
    <hr/>
    
        <br><h5><b>EQUIPMENT</b></h5><br>

    <div class="row">
                    
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 searchtable" data-ng-controller="myCtrl">
            
            <div id="chartStyle">
                <canvas class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series" chart-options="chartOptions"></canvas>
            </div>
            <br>
            
                <a class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="writeUserData(equipment, system)" data-ng-click="initializeExport()"><span class="glyphicon glyphicon-export"></span></a>
            
                <a class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="writeUserData(equipment, system)" data-ng-click="initializePrint()"><span class="glyphicon glyphicon-print"></span></a>
            
            
        </div>
        
        
        
        <div class="col-xs-5 col-sm-5 col-md-5 col-lg-5 searchtable" data-ng-controller="myCtrlPercent">
            
            <div id="chartStyle">
                <canvas class="chart chart-bar" chart-data="dataPercent" chart-labels="labelsPercent" chart-series="series" chart-options="chartOptionsPercent"></canvas>
            </div>
            <br>
            
            <a class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="writeUserData(equipment, system)" data-ng-click="initializeExport()"><span class="glyphicon glyphicon-export"></span></a>
            
            <a class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="writeUserData(equipment, system)" data-ng-click="initializePrint()"><span class="glyphicon glyphicon-print"></span></a>
            
        </div>
    
    </div>
<br>



