<div class="page-header">
    <h1>CREATE SYSTEM </h1>
</div>
<div data-ng-app="input">
    <div class="row">  
        <div class="form-group col-xs-6">
            
            <h4>System</h4>
            <input type="text" class="form-control input-lg" id="sys" placeholder="Insert system here" data-ng-model="system" required>
            <br>
              
        </div>
        
        <div class="form-group col-xs-6">
            
            <h4>Equipment</h4>
            <input type="text" class="form-control input-lg" id="equi" placeholder="Insert equipment here" data-ng-model="equipment" required>
            <br>
            
        </div>
        
    </div>
    <div class="row">
        <div class=" form-group col-xs-12">
            <div class="form-group">
              <h4>Description</h4>
              <div class="col-lg-10">
                <textarea class="form-control" rows="3" id="textArea" style="margin: 0px -2.84375px 0px 0px; height: 121px; width: 424px;" required></textarea>
                <span class="help-block">Enter Description for your equipment here</span>
              </div>
            </div>
        </div>
        
    </div>

    <div class="row">
        <div class="col-xs-10 col-sm-6 col-md-6 col-lg-6" id="central">
            <a class="btn cd-add-to-cart cd-add-to-cart:hover cd-add-to-cart:active" role="button" data-ng-click="writeUserData(equipment, system)">ADD  <span class="glyphicon glyphicon-plus"></span></a>
        </div>
        
    </div>
    <br/>
    <div class="alert alert-dismissible alert-warning" data-ng-if="error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4>Warning!</h4>
      <p>{{error}}</p>
    </div>
    
    <div class="alert alert-dismissible alert-success" data-ng-if="message">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <strong>Success</strong> {{message}}.
    </div>
</div>


    <br>
    <div class="col-xs-12">
        
    <table class="table table-hover" id="borders">
        <thead class="thead-inverse">
                    <tr>
                      <th>List of Existing System</th>
                    </tr>
        </thead>
                  <tbody>
                    <tr data-ng-repeat="d in data">
                      <td class="select" align="center">
                       
					    <div class="btn-group">
                          <a class="btn btn-primary">{{d.$id}}</a>
                          <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li data-ng-repeat="eq in d.equipments">{{eq.equipment}}</li>

                          </ul>
                        </div>
				
                        </td>
                    </tr>
                      
                  </tbody>
    </table>
    </div>
    
